<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Sqx.Services.Service" Major="1" Minor="11" Build="0">
      <Files>
        <CPackFile Name="Sqx/Services/IService.sqx" CheckSum="fuTdMfUVF/BwuSn9jLTwMg==" />
        <CPackFile Name="Sqx/Services/Service.sqx" CheckSum="PuUijIgf1/op+s+JucSzbw==" />
      </Files>
      <Dependencies />
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
      <DescriptionExtLine />
    </CPack>
    <CPack Name="TypeSqf.MissionTemplate.Mp.Standard" Major="1" Minor="0" Build="2">
      <Files>
        <CPackFile Name="Client/Classes/ClientEventHandlers.sqx" CheckSum="VdrgG3xfsyqHh9+BnOcjkw==" />
        <CPackFile Name="Client/Classes/ClientEventReciever.sqx" CheckSum="QXC4Lh/tfYwQDIf2oM6EVA==" />
        <CPackFile Name="Client/Classes/ClientObjects.sqx" CheckSum="XvFdzGIHYetIIfsPW+Iehw==" />
        <CPackFile Name="Client/Classes/Configs/Interfaces/ITaskConfig.sqx" CheckSum="h6YIkBnSALMaJhg/+Uzzuw==" />
        <CPackFile Name="Client/Classes/Configs/TaskConfig.sqx" CheckSum="z8d1Ty98sZV3A/BNPIV06w==" />
        <CPackFile Name="Client/Classes/Handlers/BriefingHandler.sqx" CheckSum="LNebUrwsI7rdhlUMXoa8Eg==" />
        <CPackFile Name="Client/Classes/Handlers/Interfaces/IBriefingHandler.sqx" CheckSum="MCEHfobg6CSs6DP1TJbbiQ==" />
        <CPackFile Name="Client/Classes/Handlers/Interfaces/IMissionEndHandler.sqx" CheckSum="UiO066kaIeDjtfkQudBqVg==" />
        <CPackFile Name="Client/Classes/Handlers/Interfaces/ITaskHandler.sqx" CheckSum="oIDF6iLhyfqzp9y7SZXgMw==" />
        <CPackFile Name="Client/Classes/Handlers/MissionEndHandler.sqx" CheckSum="W4FIDDt7Oz8M+3TD4/hDEw==" />
        <CPackFile Name="Client/Classes/Handlers/TaskHandler.sqx" CheckSum="THE1RAiB/WiQxTngOgQbkg==" />
        <CPackFile Name="Client/Classes/Objects/TaskInfo.sqx" CheckSum="0nCxFy2fdxcbf5uJIMplmw==" />
        <CPackFile Name="Client/Classes/Services/TaskMonitor.sqx" CheckSum="Ew+EnSwMmBfr2Bvg7F0dag==" />
        <CPackFile Name="Client/Client.sqx" CheckSum="1JwCcIzT2JhTk6VvB4taBA==" />
        <CPackFile Name="Client/Enums/PlayerTask.sqx" CheckSum="KzuQlYhx1rweU+Dv2dL68g==" />
        <CPackFile Name="Client/Enums/TaskState.sqx" CheckSum="KWN+Swt3kuSUetIVYNPDJQ==" />
        <CPackFile Name="Common/Classes/CommonEventHandlers.sqx" CheckSum="Ru3BPOhfCYx5hU7TZfPLYw==" />
        <CPackFile Name="Common/Classes/CommonObjects.sqx" CheckSum="cQDL0VkoYjaDB4boraTZlQ==" />
        <CPackFile Name="Common/Classes/Configs/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Classes/Configs/Interfaces/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Classes/Handlers/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Classes/Handlers/Interfaces/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Classes/Objects/DictionaryItem.sqx" CheckSum="YxHs1G8dfdMpAUgANCO/tw==" />
        <CPackFile Name="Common/Classes/Objects/MissionInfo.sqx" CheckSum="oSFynmliVPIV7ynRSo/+iw==" />
        <CPackFile Name="Common/Classes/Services/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Common/Common.sqx" CheckSum="9b8/KOyrnvKd9tnpOyviKg==" />
        <CPackFile Name="Common/Enums/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Communication/InitCommunication.sqx" CheckSum="af16i53283+fK+l8I6U4iw==" />
        <CPackFile Name="Communication/PublicVariableHandler.sqx" CheckSum="499VUF7yWMk6whKtj2Yrcw==" />
        <CPackFile Name="Communication/Remote.sqx" CheckSum="TmNWLba77bjMqaOBPevzNg==" />
        <CPackFile Name="Communication/RemoteTargetOptions.sqx" CheckSum="V4sShm/NtofUgIjfJZ4xHQ==" />
        <CPackFile Name="description.ext" CheckSum="aBc8UmFyEYWCOAfdk3zzKA==" />
        <CPackFile Name="init.sqx" CheckSum="eh6vKfJGrolY5g4aO8mJOA==" />
        <CPackFile Name="README.sqx" CheckSum="4ECSVTtpdrw90AakrQTyOw==" />
        <CPackFile Name="Server/Classes/Configs/ArrowConfig.sqx" CheckSum="gXNMU/4bAKTDVIYvSLcl5Q==" />
        <CPackFile Name="Server/Classes/Configs/GameplayConfig.sqx" CheckSum="hxl7R/s6/uSQ68ByB7qakQ==" />
        <CPackFile Name="Server/Classes/Configs/Interfaces/IArrowConfig.sqx" CheckSum="PMZDIFpq1C2AP8WD43FTSQ==" />
        <CPackFile Name="Server/Classes/Configs/Interfaces/IGameplayConfig.sqx" CheckSum="VFjRONFoamHP4yEa8Bb/PQ==" />
        <CPackFile Name="Server/Classes/Handlers/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Classes/Handlers/Interfaces/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Classes/Objects/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Classes/Objects/Interfaces/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Classes/ServerEventHandlers.sqx" CheckSum="Cu/ErSAIWCCAZJbi+RQffw==" />
        <CPackFile Name="Server/Classes/ServerEventReciever.sqx" CheckSum="sRziAIrdiqynRJ8+HA+pbg==" />
        <CPackFile Name="Server/Classes/ServerObjects.sqx" CheckSum="Mkkgy09kCIr7Sj1g1dabqw==" />
        <CPackFile Name="Server/Classes/Services/MissionEngine.sqx" CheckSum="xNrqR0zT12TkE1llh7OPRg==" />
        <CPackFile Name="Server/Enums/_ReadMe.sqx" CheckSum="Jvhv4PAGt+63K/2w2vdAVw==" />
        <CPackFile Name="Server/Server.sqx" CheckSum="AC4xZKylDvhENkD2VCRJhg==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Sqx.Services.Service</Name>
          <Major>1</Major>
          <Minor>11</Minor>
          <Build>0</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine>execVM "init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
      <DescriptionExtLine />
    </CPack>
    <CPack Name="Sqx.Markers" Major="1" Minor="0" Build="0">
      <Files>
        <CPackFile Name="Sqx/Markers/init.sqx" CheckSum="nQ2D9MziIpdMPiYzyd75Pg==" />
        <CPackFile Name="Sqx/Markers/Marker.sqx" CheckSum="sDZbqzYKZYUKd4N5u+Pg5A==" />
        <CPackFile Name="Sqx/Markers/MarkerHelper.sqx" CheckSum="GAKwqGUeKPWIBO9mrt7JJQ==" />
        <CPackFile Name="Sqx/Markers/README.txt" CheckSum="cM5/OzWdCVDDA0PNgn+qNQ==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Sqx\Markers\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>